{% extends "layout.html" %}
{% block content %}
<div class="jumbotron" style="width: 50%; text-align: center; margin: 0 auto;">
	<h3>Upload an image</h3><br/>
	<form class="form-inline" action="{{ url_for('main.result') }}" method="post" name="myForm" enctype = "multipart/form-data">              
		<input class="form-control" type = "file" name = "file" required accept="image/x-png,image/gif,image/jpeg" style="width: 100%" />
        <input class="btn btn-primary btn-block" type="submit" value="Upload">
        
    </form>
</div>
{% endblock content %}
